{% extends "account/base.html" %}
here we are
{% load account %}

{% block head_title %}Login{% endblock %}

{% block content %}
  <h2>Login!!</h2>
  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      redirect
      {% else %}
      no redirect
    {% endif %}

    <button type="submit">Login</button>
  </form>
  <p><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
{% endblock %}